.archives--container {
  padding: 40px;
  background-color: #dddcd0;
}
h1 {
  text-align: center;
}
.archive--images {
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}
.archive--images > img {
  width: 30%;
}
.archive--images--container {
  margin-top: 40px;
}
.archive--images > img:hover {
  scale: 1.03;
  cursor: pointer;
  transition: all 0.3s ease;
}
@media (min-width: 1024px) {
  .archives--container {
    padding: 0px;
  }
  .archives--container > h1 {
    font-size: 38px;
    font-family: "Mofia Regular";
    margin-top: 20px;
  }
  .archive--images--container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .archive--images--container > p {
    font-size: 24px;
  }
  .archive--images > img {
    height: 400px;
  }
}
