.music--container {
  padding: 40px;
}
.performance--container {
  margin-top: 30px;
}
.performance--container > h1 {
  font-size: 20px;
}
.youtube--details {
  padding: 15px;
}
.youtube--description {
  margin-top: 10px;
  font-size: 14px;
}
.youtube--video {
  gap: 15px;
  padding: 10px;
}
.youtube--video > h2 {
  font-size: 16px;
  align-self: flex-start;
}
.youtube--video--description {
  padding: 10px;
}
.youtube--video--description > .poppins-semibold {
  font-size: 16px;
}
.youtube--video--description > .description--text {
  font-size: 12px;
  text-align: left;
}
.music--container .youtube--link {
  font-size: 24px;
  text-align: center;
  color: #0075ff;
  text-decoration: underline;
}
.youtube--subscribe--text {
  text-align: center;
}

@media (min-width: 1024px) {
  .music--container {
    padding: 0px;
  }
  .music--carousel {
    height: 80dvh;
    overflow: hidden;
  }
  .music--carousel > img {
    object-fit: cover;
    object-position: top center;
  }
  .performance--container {
    padding: 30px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .performance--container > h1 {
    font-size: 32px;
    align-self: flex-start;
  }
  .youtube--details {
    margin-left: 20px;
  }
  .youtube--details > p {
    font-size: 20px;
  }
  .youtube--channel--name {
    font-weight: 600;
    text-decoration: underline;
  }
  .youtube--description {
    font-weight: 400;
  }
  .youtube--video {
    margin-left: 25px;
    align-items: flex-start;
  }
  .youtube--video > h2 {
    font-size: 20px;
  }
  .youtube--video .description--text {
    font-size: 16px;
  }
  .youtube--video--description > .poppins-semibold {
    font-size: 18px;
  }
  .video--link {
    width: 400px;
    height: 200px;
  }
}
