.research--page--container {
  padding: 30px;
  z-index: -10;
  background-color: #dddcd0;
}
.works--carousel {
  height: 30dvh;
  background-image: url("./assets/Images/Research/worksCarousel.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: end;
  justify-content: flex-start;
  overflow: hidden;
}
.works--text {
  color: white;
  padding: 5px;
  font-size: 1.5rem;
  background-color: rgb(153, 140, 26);
}
.workshop--image {
  width: 100%;
  height: 80px;
  background-image: url("./assets/Images/Research/workshopImg.jpeg");
  display: flex;
}
.see--more {
  color: white;
  width: 50%;
  font-size: 10px;
  align-self: flex-end;
  background-color: rgb(153, 140, 26);
  padding: 5px;
}

.works--display--container {
  padding-top: 50px;
}
.work--image--container {
  width: 60%;
}
.work--image--container > p {
  font-size: 14px;
}
.works--display--container > p {
  margin-top: 15px;
  text-align: justify;
}

.works--display--container2,
.works--display--container22 {
  gap: 15px;
  padding-top: 40px;
  padding-bottom: 20px;
}
.work--image--container2 > img {
  width: 180px;
  height: 170px;
}
.work--image--container2 > p {
  font-size: 12px;
  text-align: center;
}
.works--display--container2 > p,
.works--display--container22 > p {
  font-size: 12px;
}
.description {
  text-align: center;
  font-size: 14px;
}
.workshops--text {
  margin-top: 40px;
  font-size: 28px;
  text-align: center;
}
.workshop--details--container {
  align-items: flex-start;
}
.workshop--images--container {
  width: 100%;
  gap: 15px;
}
.workshop--details--container > h1 {
  font-weight: 500;
  font-size: 20px;
  margin-top: 20px;
}
.workshop--details--container > p {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.journal--carousel {
  margin-top: 60px;
  background-image: url("./assets/Images/Research/journalsCarousel.jpeg");
  background-repeat: no-repeat;
}
.journal--image--details {
  gap: 5px;
}
.journal--image--details > img {
  width: 50%;
}
.journal--details--container {
  padding: 15px;
  gap: 5px;
  font-size: 13px;
}
.journal--details--container > h1 {
  font-weight: 600;
  font-size: 20px;
}
.journal--details--container img {
  width: 150px;
  height: 200px;
}
.journal--image--details {
  gap: 10px;
}
.journal--details--container > p {
  font-size: 15px;
  text-align: center;
}
.journal--image--details2 {
  flex-direction: row-reverse;
}
.work--image--container > p {
  text-align: center;
}
.last--description {
  font-size: 14px;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 25px;
}
.last--description > img {
  width: 50%;
}

@media (min-width: 1024px) {
  .works--carousel {
    height: 50dvh;
    width: 60dvw;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .works--display--container {
    flex-direction: row;
    gap: 40px;
    padding: 30px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
  .work--image--container > img,
  .journal--image--details > img {
    border-radius: 20px;
    height: 300px;
    width: 500px;
  }
  .work--image--container > p {
    font-size: 24px;
  }
  .works--display--container2 {
    flex-direction: row-reverse;
  }
  .works--display--container2 > p {
    font-size: 16px;
  }
  .works--display--container22 {
    flex-direction: column;
  }
  .work--image--container2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .work--image--container2 > img {
    width: 40%;
    height: auto;
    border-radius: 20px;
  }
  .work--image--container2 > p {
    font-size: 24px;
  }
  .works--display--container22 > p,
  .description {
    font-size: 16px;
    width: 50%;
    text-align: center;
  }
  .description {
    margin-left: auto;
    margin-right: auto;
  }
  .workshops--text {
    font-size: 32px;
  }
  .workshop--details--container,
  .journal--details--container,
  .last--description {
    padding: 60px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .workshop--details--container > h1 {
    font-size: 28px;
  }
  .workshop--details--container > p {
    width: 65%;
    font-size: 16px;
  }
  .workshop--image {
    height: 250px;
  }
  .see--more {
    font-size: 16px;
  }
  .journal--details--container > h1 {
    font-size: 30px;
    font-weight: 600;
    align-self: flex-start;
  }
  .journal--image--details {
    margin-top: 20px;
  }
  .journal--image--details > p {
    font-size: 16px;
    align-self: center;
  }
  .last--description > img {
    width: 100%;
    border-radius: 20px;
    height: 500px;
    object-position: top left;
  }
  .last--description > p {
    font-size: 20px;
    width: 90%;
  }
  .journal--image--details > .journalimage1 {
    width: 100%;
    height: 300px;
  }
  .journal--details--container > p {
    font-size: 24px;
    margin-top: 30px;
  }
  .last--description {
    padding-bottom: 0px;
  }
}
