.testimonials--container {
  padding: 40px;
  background-color: #dddcd0;
}
h1 {
  text-align: center;
}
.testimonials--details--container {
  margin-top: 40px;
}
.testimonial {
  background-color: white;
  border-bottom-right-radius: 20px;
  padding: 10px;
  justify-content: space-around;
  margin-top: 20px;
  gap: 10px;

  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
.testimonial > img {
  height: 80px;
  width: 80px;
  border-radius: 100%;
}
.profile--details {
  gap: 10px;
}
.testimonial--text {
  font-size: 12px;
}
.username {
  font-size: 20px;
}

@media (min-width: 770px) {
  .testimonials--details--container {
    width: 70%;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1024px) {
  .testimonials--details--container {
    width: 70%;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  .testimonial {
    width: 900px;
    justify-content: flex-start;
    padding: 15px;
    gap: 20px;
  }
  .testimonial > img {
    width: 140px;
    height: 140px;
  }
  .testimonial--text {
    font-size: 20px;
  }
  .username {
    font-size: 28px;
  }
  .testimonial:nth-child(odd) {
    flex-direction: row-reverse;
    text-align: right;
  }
  .testimonials--details--container > p {
    font-size: 20px;
  }
}
